﻿body h1 {
    background-color: transparent;
}

.top-bar {
    background-color: transparent;
}

    .top-bar .main-bar {
        background-color: transparent;
        width: 80%;
        margin: auto;
        display: flex;
        flex-wrap: nowrap;
    }

        .top-bar .main-bar .info-left {
            flex-grow: 4;
            background-color: transparent;
            display: flex;
            justify-content: space-around;
            margin-right: 50px;
        }

        .top-bar .main-bar .login-right {
            flex-grow: 2;
            background-color: transparent;
            display: flex;
            justify-content: space-between;
        }

.div2 {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    margin-top: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-flex;
    border-left: 2px solid #808080;
}

.button + .button{
    margin-left: 16px;
}

.button:hover{
    opacity: 0.8;
}

.btn{
    width: 80%;
    margin: auto;
}

.mainContent{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.noiDungBenTrai{
    display: flex;
    width: 65%;
    margin: auto;
    justify-content: center;
}


mid_content .header {
    margin: 0;
    text-align: center;
    padding-top: 0.5em;
    background-color: #ced4da;
    font-size: 1em;
    font-weight: bold;
    color: #c1121f;
    width: 20%;
    height: 1.5em;
    font-family: Arial;
}

.header_of_mid_content{
    color: #9b2226;
    font-weight: bold;
    font-size: 1.3em;
    font-family: Arial;
    margin: 5px 0;
}

.content_of_mid_content{
    margin: 5px 0;
    font-size: 1em;
    font-family: Arial;
    color: #534b52;
}

.right_content {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin: 10px 10px;
    justify-content: flex-end;
}

.right_content .EL {
    margin: 0;
    margin-bottom: 5px;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #34312d;
    background-color: #ced4da;
    padding-bottom: 5px;
    width: 70px;
    height: 20px;
    text-align: right;

}

.right_content .content_of_right_content {
    font-family: Arial;
    font-size: 1em;
    color: #534b52;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ced4da;
}

.right_content .right_below_content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 110px;
}

.right_content .right_below_content .GN {
        color: #9b2226;
        font-family: Arial;
        font-weight: bold;
        background: linear-gradient(to right, rgba(128,128,128,0.3) 0%, rgba(255,255,255,0.3) 100%);
        width: 50%;
        margin: 5px 0;
        padding: 10px;
    }

.right_content .right_below_content .header_of_right_below_content {
        width: 50%;
        font-family: Arial;
        font-weight: bold;
        margin: 0;
    }

.right_content .content_of_right_below_content {
    font-size: 0.9em;
    font-family: Arial;
    color: #534b52;
}

.ad2{
    display: flex;
    flex-wrap: wrap;
    width: 35%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0;
    align-content: flex-start;
}

.ad2 .datetime {
    display: flex;
    flex-wrap: nowrap;
}




